// We use this to do clear floats
@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

%clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Vertically centered
@mixin vertical-center-block() {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%vertical-center-block {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Typography
// -------------------------
// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    color: darken($color, 10%);
  }
}

@mixin text-hide() {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

%text-hide {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Alerts
// -------------------------
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}

// Buttons
// ------------------------
%button-defaults {
  position: relative;
  display: inline-block;
  margin-bottom: rem-calc(8);
  padding: rem-calc(8) rem-calc(20);
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    top: 2px;
    text-decoration: none;
  }
  &:active {
    top: 4px;
  }
}

@mixin create-button($class, $color) {
  .#{$class} {
    @extend %button-defaults;    
    background: $color;
    color: darken($color, 60%) !important;
    box-shadow: 0 rem-calc(6) darken($color, 30%);
    border-top: 1px solid lighten($color, 10%);
    border-left: 1px solid lighten($color, 10%);
    border-right: 1px solid darken($color, 10%);
    &:hover {
      box-shadow: 0 rem-calc(4) darken($color, 30%);
      background: darken($color, 10%);
      border-top: 1px solid darken($color, 5%);
      border-left: 1px solid darken($color, 5%);
      border-right: 1px solid darken($color, 15%);
    }
    &:active {
      box-shadow: 0 rem-calc(2) darken($color, 30%);
      background: darken($color, 20%);
      border-top: 1px solid darken($color, 35%);
      border-left: 1px solid darken($color, 35%);
      border-right: 1px solid darken($color, 50%);
    }
  }
}