//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @extend %clearfix;
}
.center-block {
  @extend %center-block;
}
.vertical-center-block {
  @extend %vertical-center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hidden {
  display: none !important;
  visibility: hidden !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @extend %text-hide;
}

// List helpers
// -------------------------

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  margin-left: rem-calc(-5);
  > li {
    display: inline-block;
    padding-left: rem-calc(5);
    padding-right: rem-calc(5);
  }
}

@media #{$medium-up} {
  .dl-horizontal {
    dt {
      float: left;
      width: ($form-component-width - rem-calc(20));
      clear: left;
      text-align: right;
      @include text-overflow();
    }
    dd {
      margin-left: $form-component-width;
      @include clearfix();
    }
  }
}

@media #{$xlarge-up} {
  .dl-horizontal {
    dt {
      width: ($form-component-width + rem-calc(80));
    }
    dd {
      margin-left: ($form-component-width + rem-calc(100));
    }
  }
}