# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Dreamweaver
dwsync.xml
config.ini

# Sublime
*sublime*
sftp-config.json

node_modules/

error.log