$include-fading-pages: true !default;

@if $include-fading-pages {

  // Fading pages requires JavaScript
  // Without, it will revert back to default Framework styling
  .js {
    .fp-container {
      position: relative;
      z-index: 2;
    }
    .fp-content-parent {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      &.off {
        display: none;
        z-index: -1;
      }
      @media #{$small-only} {
        position: relative;
        top: auto;
        left: auto;
        z-index: auto;
        &.off {
          display: inherit !important;
          z-index: auto;
        }
      }
    }
  }

}