$include-menu-dropdown: true !default;

@if $include-menu-dropdown {

  .js {
    .dropdown-menu {
      display: none;
      overflow: hidden;
      &.show-for-mobile {
        @media #{$small-only} {
          display: inherit !important;
        }
      }
    }

  }

}