$include-tabbed-content: true !default;

@if $include-tabbed-content {

  .tc-nav-parent {
    display: none;
  }

  .js {
    .tc-container {
      position: relative;
      z-index: 1;
      min-height: rem-calc(150);
      > .tc-content-parent {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        &.off {
          z-index: -1;
          display: none;
        }
      }
      > .tc-nav-parent {
        display: inherit !important;
        position: relative;
        z-index: 2;
      }
    }
  }

}